# IDE
.idea/

# env
/.env

# local service configs
/services/whoopsync/config/config.yaml
/services/whoopsync/config/config.local.yaml

/services/morningbot/config/config.yaml
/services/morningbot/config/config.local.yaml

# local migrator configs
/cmd/migrator/config.yaml
/cmd/migrator/config.local.yaml