# mock - тестим локально с сохранением в localStorage
# http - труЪ backend Morning App
VITE_WAKE_PLAN_SERVICE=mock

# БАЗА
# Используется только при VITE_WAKE_PLAN_SERVICE=http
VITE_API_BASE_URL=http://localhost:8080

# Максимальное время ожидания ответа от бэка.
# У кого плохо с матешей - 10000 миллисекунд = 10 секунд
VITE_API_REQUEST_TIMEOUT_MS=10000
